<div class="brand">Business Casual</div>
<div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">About
                    <strong> us</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="http://ironsummitmedia.github.io/startbootstrap-business-casual/img/slide-2.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>MaqITsolutions  is a social media marketing and consultancy agency which has specialises in web design solutions, seo and content management</p>
                <p>Although formed in 017, our consultants have been in the digital marketing industry for over 7 years having worked with not only the Kenyan but with International brands like artists etc., a servce from small home based businesses to multi-nationals!
With MaqITsolutions, you are not only gaining just an online marketing & SEO consultant but a digital marketing partner</p>
                <p>All our consultants are specialists in their relevant fields, from SEO to CM(content management) to Social Media. We are so confident in what we can achieve and hope you ride the jounrey to sucess with us.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Our
                    <strong>Team</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>Mark Nelvin
                    <small>CEO</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>Newton Robert
                    <small>web developer</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>Soddy George
                    <small>Marketing and Branding expert</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>Lestley Kimathi
                    <small> </small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- /.container -->
